<div class="article_form">
  <%= form_with model: article, local: true do |f| %>
    <%= f.submit '保存' %>

    <div class="form_group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="form_group">
      <%= f.text_field :content %>
    </div>

    <%= f.hidden_field :author, :value => current_user.id %>

  <% end %>
</div>
