<div class="article_form">
  <%= form_with model: article, local: true do |f| %>
    <p class="text-end mt-3">
      <%= f.submit '保存', class: 'btn btn-primary' %>
    </p>

    <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.text_area :content, class: 'form-control' %>
    </div>

    <%= f.hidden_field :author, :value => current_user.id %>

  <% end %>
</div>
